@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&display=swap');

@media (max-width:600px) {
  .textbox {
    width: 300px !important;
  }
  #cont {
    width: 300px !important;
  }

  #article p {
    width: auto;
  }

  #pp {
    height: 200px !important;
    width: 200px !important;
  }
}


@media (max-width:900px) {

      .textbox h2 {
        font-size: 2.3rem !important;
      }

      .text {
        font-size: 1rem !important;
      }

      .textbox {
    width: 500px !important;
  }
  #cont {
    width: 450px !important;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }


}


* {
    margin: 0;
    padding: 0;
  }


 .main {
  height: 90vh;
  width: 100vw;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  overflow: auto;
 }

 .textbox {
  margin-top: 100px;
  height: 700px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.textbox h2 {
  color: #fff;
  margin-top:25px;
  font-family: 'Inter', sans-serif;
  font-size: 3rem;
  padding-left: 20px;
  margin-bottom: 20px;
}

.text {
  margin: 30px;
  margin-top: 0px;
  width: 500px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
}

hr {
  margin-top: 10px;
  width: 70%;
  color: #1d1d1d;
}

#views{
  font-weight: 200;
}

#cont {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pp {
    margin-left: 20px;
    height: 360px;
    width: 360px;
}



